*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000;
}
:root{
    --primary-color: #072929;
    --secondary-color: #6c757d;
    --primary-button-color: #072929;
    --secondary-button-color: #6c757d;
    --tertiary-color: #99a3be;
    --secondary-lite-color: #B6F09C;
    --primary-lite-color: #AEE5C7;
    --primary-light-color: #f5f5f0;
}

body{
    background-color: var(--primary-light-color);
}

.primary-button{
    background-color: var(--primary-button-color);
    color: var(--primary-light-color);
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}
.primary-button:hover{
    background-color: #0a4242;
}
.secondary-button{
    background-color: var(--secondary-button-color);
    color: var(--primary-light-color);
    border: none;
}