.contact-page {
  position: relative;
  height: 400px;
  overflow: hidden;
}
.contact-container{
    padding: 100px;
}
/* Fullscreen animated background */
.contact-bg {
  position: absolute;
  inset: 0;
  z-index: 0;
}

/* Make sure Iridescence fills screen */
.contact-bg > * {
  width: 100%;
  height: 100%;
}

/* Content above background */
.contact-content {
  position: relative;
  z-index: 1;
  height: 400px;
    background-color: #75757578;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: white;
  text-align: center;
  backdrop-filter: blur(2px);
}

.office-contact{
    color: #fece3f;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.contact-info{
    font-size: 1.2rem;
    margin-bottom: 10px;
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 20px;
}