.logo {
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 4px;
}

.logo-x {
  position: relative;
  width: 18px;
  height: 18px;
  display: inline-block;
}

.line {
  position: absolute;
  width: 4px;
  height: 0px;
  background: #000;
  top: 0px;
  transform-origin: top;
}

.line.white-text {
  background: #fff;
}

.line-left {
  transform: rotate(40deg);
  left: 70%;
  animation: drawLeft 11s infinite ease-in-out;
}

.line-right {
  transform: rotate(-40deg);
  left: -20%;
  animation: drawRight 11s infinite ease-in-out;
}

/* Left \ line */
@keyframes drawLeft {
  0% {
    height: 25px;
  }

  90% {
    height: 25px;
  }

  /* animation starts */
  91% {
    height: 0;
  }

  100% {
    height: 25px;
  }
}

/* Right / line */
@keyframes drawRight {
  0% {
    height: 25px;
  }

  90% {
    height: 25px;
  }

  91% {
    height: 0;
  }

  100% {
    height: 25px;
  }
}

.header_navigation a{
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

.header_navigation a:hover{
    color: var(--secondary-color);
}
.header{
  padding-left: 100px;
  padding-right: 100px;
}