/* mobile media query */
@media (max-width: 768px) {
    .welcome-section, .blog-section, .hero-section, .feature-section, .pre-home-section, .pixis-section, .about-container, .about-page, .contact-container, .legal-hero, .legal-body, .product-container, .blog-section-container {
        padding: 50px 10px!important;
    }

    .main-heading span {
        font-size: 28px;
    }

    .sub-heading {
        font-size: 14px;
    }

    .headings-section {
        margin: 0;
        padding: 20px;
        width: 100%;
    }

    .hero-section .columns {
        padding: 0;
    }

    .hero-section-heading {
        font-size: 24px;
    }

    .collection-cards-wrapper {
        height: 22rem;
    }
    .collection-card-image{
        height: 8rem;
    }

    .impact-marquee {
        overflow: hidden;
        transform: rotate(0deg);
    }

    .footer-title-behind {
        font-size: 40px;
    }

    .footer-title {
        font-size: 24px;
    }

    .cards-page {
        transform: none !important;
        padding: 15px !important;
        height: 20rem;
    }

    .card-home-tite {
        font-size: 20px;
    }

    .cards-image-div h6 {
        font-size: 12px;
    }

    .cards-image-div p {
        font-size: 11px;
    }

    .cards-badge {
        font-size: 10px;
        padding: 4px 8px;
    }
    .featured-cards{
        width: 200px;
        height: 200px;
    }
    .featured-hover-heading{
        font-size: 12px;
    }
    .featured-layer.front h3{
        font-size: 16px;
    }
    .footer-section p, .footer-section a, .footer-section h5, .footer-bottom small {
        font-size: 12px;
    }
    .blog-heading{
        font-size: 12px;
    }
    .blog-author{
        font-size: 10px;
    }
    .blog-role{
        font-size: 9px!important;
        margin-bottom: 3px!important;
    }
    .blog-date{
        font-size: 8px;
    }
    .blog-tag{
        font-size: 10px;
        padding: 3px 7px;
    }
    .blog-card {
        border-radius: 15px!important;
    }
    .primary-button{
        padding: 8px 16px;
        font-size: 12px;
    }
    .big-heading{
        font-size: 25px;
    }
    .cards-layer{
        width: calc(100% - 70px)
    }
    .panel-heading{
        font-size: 14px;
    }
    .resources-panel{
        padding: 10px;
    }
    .panel-subheading{
        font-size: 10px;
        text-align: center;
        text-wrap: nowrap;
    }
    .panel-divider-1{
        padding-right: 20px!important;
    }
    .panel-divider-2{
        padding-left: 20px!important;
        padding-right: 20px!important;
    }
    .panel-divider-3{
        padding-left: 20px!important;
    }
    .collection-heading{
        font-size: 14px;
    }
    .collection-subheading{
        font-size: 12px;
    }
    .about-hero{
        padding: 0!important;
    }
    .about-team-img{
        height: 250px!important;
    }
    .about-heading-main{
        width: 100%!important;
    }
    .about-stat-value{
        font-size: 30px!important;
    }
    .about-stat-label{
        font-size: 15px!important
    }
    .about-h3{
        font-size: 14px;
    }
    .about-muted{
        font-size: 12px!important;
    }
    .office-contact{
        font-size: 20px!important;
    }
    .contact-info{
        font-size: 15px!important;
    }
    .card-name{
        font-size: 16px!important;
    }
    .card-price{
        font-size: 30px!important;
        letter-spacing: -0.02em!important;
        margin-top: 5px!important;    
    }
    .card-unit{
        font-size: 12px!important;
    }
    .card-sub{
        font-size: 12px!important;
    }
    .card-features li span{
        font-size: 12px!important;
    }
    .card-features li img{
        width: 16px!important;
        height: 16px!important
    }
    .card-cta {
        font-size: 12px!important;
        padding: 6px 10px!important;
        height: 40px!important;
    }
    .filter-bar, .select-column{
        flex-direction: column!important;
    }
    .filter-search{
        width: 100%!important;
        margin-bottom: 20px;
    }
    .product-select{
        margin-bottom: 20px;
        font-size: 12px!important;
        margin-right: 6px!important;
    }
    .product-hero .faq-hero{
        min-height: 200px!important;
        height: 270px!important;
    }
    .product-container{
        padding: 10px!important;
    }
    .featured-title, .card-title{
        font-size: 14px!important;
    }
    .featured-desc, .card-desc{
        font-size: 12px!important;
    }
    .pill, .tag, .type-chip, .price-chip, .blog-card-category{
        font-size: 8px!important;
        padding: 4px 8px!important;
    }
    .featured-price, .card-price{
        font-size: 16px!important;
    }
    .featured-meta span, .card-meta span{
        font-size: 12px!important;
    }
    .download-text{
        display: none!important;
    }
    .count{
        font-size: 10px!important;
    }
    .upper-search-product{
        display: flex!important;
    }
    .lower-search-product{
        display: none!important;
    }
    .details-grid{
        grid-template-columns: 1fr!important;
    }
    .details-card{
        padding: 12px!important;
    }
    .details-card h3{
        font-size: 14px!important;
    }
    .details-card ul li{
        font-size: 11px!important;
    }
    .details-card ul li img{
        width: 15px!important;
        height: 15px!important;
    }
    .details-actions{
        margin-bottom: 0px!important;
    }
    .primary-action, .secondary-action{
        font-size: 10px!important;
        height: 30px!important;
        padding: 4px 10px!important;
    }
    .blog-detail-content{
        max-width: 100%!important;
    }
    .blog-card-title{
        font-size: 12px!important;
    }
    .blog-card-content{
        padding: 12px!important;
    }
    .blog-card-excerpt{
        font-size: 10px!important;
    }
    .blog-card-author span, .blog-card-date span{
        font-size: 8px!important;
    }
    .blog-card-footer{
        padding-top: 8px!important;
        margin-top: 5px!important;
    }
    .blog-grid{
        gap: 5px!important;
    }
    .blog-subtitle{
        font-size: 14px!important;
    }
}