/* mobile media query */
@media (max-width: 768px) {
    .welcome-section, .blog-section, .hero-section, .feature-section, .pre-home-section, .pixis-section, .about-container, .about-page, .contact-container, .legal-hero, .legal-body {
        padding: 50px 10px!important;
    }

    .main-heading span {
        font-size: 28px;
    }

    .sub-heading {
        font-size: 14px;
    }

    .headings-section {
        margin: 0;
        padding: 20px;
        width: 100%;
    }

    .hero-section .columns {
        padding: 0;
    }

    .hero-section-heading {
        font-size: 24px;
    }

    .collection-cards-wrapper {
        height: 21rem;
    }
    .collection-card-image{
        height: 8rem;
    }

    .impact-marquee {
        overflow: hidden;
        transform: rotate(0deg);
    }

    .footer-title-behind {
        font-size: 40px;
    }

    .footer-title {
        font-size: 24px;
    }

    .cards-page {
        transform: none !important;
        padding: 15px !important;
        height: 20rem;
    }

    .card-home-tite {
        font-size: 20px;
    }

    .cards-image-div h6 {
        font-size: 12px;
    }

    .cards-image-div p {
        font-size: 11px;
    }

    .cards-badge {
        font-size: 10px;
        padding: 4px 8px;
    }
    .featured-cards{
        width: 200px;
        height: 200px;
    }
    .featured-hover-heading{
        font-size: 12px;
    }
    .featured-layer.front h3{
        font-size: 16px;
    }
    .footer-section p, .footer-section a, .footer-section h5, .footer-bottom small {
        font-size: 12px;
    }
    .blog-heading{
        font-size: 12px;
    }
    .blog-author{
        font-size: 10px;
    }
    .blog-role{
        font-size: 9px!important;
        margin-bottom: 3px!important;
    }
    .blog-date{
        font-size: 8px;
    }
    .blog-tag{
        font-size: 10px;
        padding: 3px 7px;
    }
    .blog-card {
        border-radius: 15px!important;
    }
    .primary-button{
        padding: 8px 16px;
        font-size: 12px;
    }
    .big-heading{
        font-size: 25px;
    }
    .cards-layer{
        width: calc(100% - 70px)
    }
    .panel-heading{
        font-size: 14px;
    }
    .resources-panel{
        padding: 10px;
    }
    .panel-subheading{
        font-size: 10px;
        text-align: center;
        text-wrap: nowrap;
    }
    .panel-divider-1{
        padding-right: 20px!important;
    }
    .panel-divider-2{
        padding-left: 20px!important;
        padding-right: 20px!important;
    }
    .panel-divider-3{
        padding-left: 20px!important;
    }
    .collection-heading{
        font-size: 14px;
    }
    .collection-subheading{
        font-size: 12px;
    }
    .about-hero{
        padding: 0!important;
    }
    .about-team-img{
        height: 250px!important;
    }
    .about-heading-main{
        width: 100%!important;
    }
    .about-stat-value{
        font-size: 30px!important;
    }
    .about-stat-label{
        font-size: 15px!important
    }
    .about-h3{
        font-size: 14px;
    }
    .about-muted{
        font-size: 12px!important;
    }
    .office-contact{
        font-size: 20px!important;
    }
    .contact-info{
        font-size: 15px!important;
    }
    .card-name{
        font-size: 16px!important;
    }
    .card-price{
        font-size: 30px!important;
        letter-spacing: -0.02em!important;
        margin-top: 5px!important;    
    }
    .card-unit{
        font-size: 12px!important;
    }
    .card-sub{
        font-size: 12px!important;
    }
    .card-features li span{
        font-size: 12px!important;
    }
    .card-features li img{
        width: 16px!important;
        height: 16px!important
    }
    .card-cta {
        font-size: 12px!important;
        padding: 6px 10px!important;
        height: 40px!important;
    }
}